body {
  margin: 0;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.img {
  width: 8vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: 10px;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
}

.imgOpen {
  width: 60vw;
}

p {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3rem;
  position: absolute;
  margin: 0;
  left: 20px;
  bottom: 20px;
  transition: 1s;
}

.hidden {
  scale: 0;
}
